@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');

:root{
    --color01:#265D3E;
    --color02:#FFAA51;
    --color03:#91997480;
    --color04:#F5E7CC;
    --color05:#FFFFFF;
    --color06:#d9d9d981;
}

@media (max-width: 730px){
    .nav-bar{
        padding: 1.5rem 2rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    .nav-item{
        display: none;
    }
    .login-button{
        display: none;
    }
    .mobile-menu-icon{
        display: block;
    }
    .mobile-menu-icon button{
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .mobile-menu .nav-item{
        display: block;
        padding-top: 1.2rem;
    }
    .mobile-menu .login-button button{
        display: block;
        width: 100%;
    }
    .open{
        display: block;
    }

    /***********INICIO DO CONTEUDO MOBILE***********/

    .img-background{
        display: flex;
        flex-direction: column;
    }
    .imgs-pg{
        width: 100%;
    } 

    .separador{
        position: relative;
        transform: translate(0px, -50px);
        width: 700px;
    }

    #quem-sou-eu{
        background-color: var(--color05);
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-evenly;
        align-items: center;
        padding: 20px 20px 53px 20px;
        gap: 30px;
    }

    .img-perfil{
        width: 200px;
    }

    #box-quem-sou-eu{
        background-color: #265d3e7c;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: var(--color04);
        border-radius: 10px;
        padding: 20px;
        width: 85%;
    }
    
    #box-quem-sou-eu h2{
        font-family: 'Lobster Two', cursive;
        font-size: 2.5em;
        font-weight: 300;
        margin: 20px 0px;
    }

    #box-quem-sou-eu p{
        font-family: 'Inter', sans-serif;
        font-size: 1rem;
        margin: 20px 0px;
        text-align: center;
    }

    /*****************ZONA "MINHAS ESPECIALIDADES"************************/

    #box-minhas-especialidades{
        background-color: var(--color01);
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    #box-minhas-especialidades h2{
        font-family: 'Lobster Two', cursive;
        color: var(--color02);
        font-weight: 400;
        font-size: 2.5em;
        text-align: center;
        margin-top: 25px;
    }

    .box-especialidades{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 25px;
        width: 80%;
        padding: 30px 20px;
        text-align: center;
        border: 1px solid var(--color05);
        border-radius: 10px;
        background-color: var(--color03);
        color: var(--color05);
    }

    .box1, .box3{
        margin-right: 0%;
    }
    .box2{
        margin-left: 0%;
    }

    .box-especialidades h3{
        font-size: 1.3em;
        font-weight: 600;
        text-transform: uppercase
    }

    .box-especialidades p{
        font-size: 1.1em;
        font-weight: 400;
    }

    #btn-whatsapp-box-especialidades{
        text-decoration: none;
        background-color: var(--color02);
        color: var(--color01);
        padding: 15px 30px;
        border-radius: 20px;
        font-size: 1em;
        font-weight: 600;
        margin-bottom: 35px;
        transition: .5s;
    }

    #btn-whatsapp-box-especialidades:hover{
        scale: 1.1;
        background-color: #ffc281;
    }

    /*****************ZONA "CONSULTAS"***************************/

    #consultas{
        background-color: var(--color02);
        max-width: 1200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .img-consultas{
        width: 90%;
    }

    .box-consulta{
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        gap: 25px;
        text-align: center;
        border-radius: 10px;
        background-color: var(--color06);
        color: var(--color05);
        margin-top: 45px;
        margin-bottom: 45px;
        padding: 45px 15px;
    }

    .presencial h3{
        color: var(--color01);
        font-family: 'Lobster Two', cursive;
        font-size: 2.5em;
        font-weight: 600;
    }

    .presencial p{
        font-size: 1.2em;
    }

    #box-local-consulta{
        padding-top: 35px;
    }

    .presencial{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #consulta-presencial{
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    #btn-whatsapp-box-consulta-presencial{
        text-decoration: none;
        background-color: var(--color01);
        color: var(--color02);
        padding: 15px 30px;
        border-radius: 20px;
        font-size: 1em;
        font-weight: 400;
        transition: .5s;
    }

    #btn-whatsapp-box-consulta-presencial:hover{
        scale: 1.1;
        background-color: #3b8159;
    }

    .img-separador{
        display: none;
    }

    .online{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .online h3{
        color: var(--color02);
        font-family: 'Lobster Two', cursive;
        font-size: 2.5em;
        font-weight: 500;
    }

    .online p{
        font-size: 1.2em;
    }

    #consulta-online{
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: var(--color01);
    }

    #btn-whatsapp-box-consulta-online{
        text-decoration: none;
        background-color: var(--color02);
        color: var(--color01);
        padding: 15px 30px;
        border-radius: 20px;
        font-size: 1em;
        font-weight: 500;
        transition: .5s;
    }

    #btn-whatsapp-box-consulta-online:hover{
        scale: 1.1;
        background-color: #ffc281;
    }

        /*****************ZONA "RODAPE"***************************/

        footer{
            height: 400px;
            margin: 0 auto;
            background-color: var(--color02);
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        }

        footer h2{
            font-family: 'Inter', sans-serif;
            text-align: center;
            color: var(--color01);
            font-size: 2.5em;
            font-weight: 600;
            padding-top: 5px;
        }

        #footer-contato{
            height: 75%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            padding-bottom: 30px;
        }
        
        #footer-contato a{
            background-color: var(--color01);
            text-decoration: none;
            color: var(--color05);
            font-size: 1.5em;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            border-radius: 40px;
            width: 80%;
            transition: .5s;
        }
        
        #footer-contato a:hover{
            scale: 1.1;
            background-color: #3b8159;
        }
}