@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');

@media (max-width: 730px){
    .nav-bar{
        padding: 1.5rem 4rem;
    }
    .nav-item{
        display: none;
    }
    .login-button{
        display: none;
    }
    .mobile-menu-icon{
        display: block;
    }
    .mobile-menu-icon button{
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .mobile-menu .nav-item{
        display: block;
        padding-top: 1.2rem;
    }
    .mobile-menu .login-button button{
        display: block;
        width: 100%;
    }
    .open{
        display: block;
    }

    /***********INICIO DO CONTEUDO MOBILE***********/

    .img-background{
        display: flex;
        flex-direction: column;
    }
    .imgs-pg{
        width: 100%;
    } 

    .separador{
        position: relative;
        transform: translate(0px, -60px);
    }
}